body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: rgb(39, 39, 39);;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.card-content {
    padding: 16px;
}

.card-title  {
    margin: 0 0 10px;
    font-size: 24px;
}

.card-text {
    color: #ffffff;
    font-size: 16px;
}
