* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.box {
    display: block;
    flex-direction: column;
    background: gray;

    border: solid;
    border-width: 1rem;

    margin-left: 1rem;
    padding-left: 1rem;

    margin-right: 1rem;
    padding-right: 1rem;

    margin-top: 1rem;
    padding-top: 1rem;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.box>h3{
    
    border: solid;
    border-width: 1rem;

    margin-left: 1rem;
    padding-left: 1rem;

    margin-right: 1rem;
    padding-right: 1rem;

    margin-top: 1rem;
    padding-top: 1rem;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.box>p {
    border: solid;
    border-width: 1rem;

    margin-left: 1rem;
    padding-left: 1rem;

    margin-right: 1rem;
    padding-right: 1rem;

    margin-top: 1rem;
    padding-top: 1rem;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
}