* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.box {
    display: block;
    background: gray;


}

.box>h3{
    
    border: solid;
}

.box>p {
    border: solid;

}