@import url('reset.css');


html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
    background-color: black;
}

.flex-container {
	display: flex; /*flex is the default property*/
	flex-direction: row; /*row is the default property*/
    flex-wrap: nowrap; /* nowrap is the default property*/
	border: solid 4px #000;
}

.flex-item {
    background-color: gray;
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
}

.flex-item:first-child {
	background-color: #A62E5C;
}

.flex-item:nth-child(2) {
	background-color: #9BC850;
}

.flex-item:nth-child(3) {
	background-color: #675BA7;
}

.flex-item strong {
	display: block;
	font-size: 130%;
}	