@import url('reset.css');


html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
    background-color: black;
}

.flex-container {
	display: flex; /*flex is the default property*/
    /* row is the default property*/
    /* nowrap is the default property*/
    flex-flow: row nowrap;
	border: solid 4px white;

}

.flex-item {
    background-color: gray;
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
}

.flex-item:first-child {
    order: 1; /* Set the index for items in flex-container array */
    background-color: #A62E5C;
}

.flex-item:nth-child(2) {
    order: 2;
	background-color: #9BC850;
}

.flex-item:nth-child(3) {
    order: 3;
	background-color: #675BA7;
}

.flex-item:nth-child(4){
    order: 4;
    background-color: orangered;
}

.flex-item:nth-child(5){
    order: 5;
    background-color: red;
}

.flex-item strong {
	display: block;
	font-size: 130%;
}	